$color_pry_orange: #f37f02;
$color_pry_dark: #091f34;
$color_grey: #f7f7fc;

// Testimonial Placeholder Boxes
$tes_box_1: #2682d9;
$tes_box_2: #091f34;
$tes_box_3: #f37f02;
$tes_box_4: #007b40;

$footer_bottom: #0b2741;
